<div class="container" style="max-width: 400px; margin: auto">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formCadastro">
    <div class="ui-g ui-fluid">

      <div class="ui-g-12">
        <h1>Cadastro de Usuário</h1>
      </div>

      <div class="ui-g-12">
        <label>Nome Completo</label>
        <input pInputText type="text" formControlName="nome">
      </div>

      <div class="ui-g-12">
        <label>E-mail</label>
        <input pInputText type="email" formControlName="email">
      </div>

      <div class="ui-g-12">
        <label>Senha</label>
        <input pInputText type="password" formControlName="senha">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Cadastrar" [disabled]="formCadastro.invalid"></button>
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Voltar" routerLink="/login"></button>
      </div>
    </div>
  </form>

</div>
