<div class="container" style="max-width: 400px; margin: auto">

  <form autocomplete="off" #f="ngForm">
    <div class="ui-g ui-fluid">

      <div class="ui-g-12">
        <h1>Cadastro de Usuário</h1>
      </div>

      <div class="ui-g-12">
        <label>Nome Completo</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12">
        <label>E-mail</label>
        <input pInputText type="email">
      </div>

      <div class="ui-g-12">
        <label>Senha</label>
        <input pInputText type="password" >
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Cadastrar"></button>
      </div>
    </div>
  </form>

</div>
