<div class="container">
  <form >

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de' : 'Nova' }} Conta</h1>
      </div>
      <div class="ui-g-10 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao">
      </div>
      <div class="ui-g-2 ui-fluid">
        <label>Status</label>
        <p-toggleButton onLabel="Ativo" offLabel="Inativo"></p-toggleButton>
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"></button>
      </div>
    </div>
  </form>
</div>
